*.pkl
*.prof
build/
src/xolo.egg-info
scan/config
scan/device
scan/foldseed
scan/hyper
scan/log
scan/memprof
scan/params
scan/summ
LOG
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
scan/hyena_norms.csv
scan/*.pdf
