*.pkl
*.prof
build/
scan/config
scan/device
scan/foldseed
scan/hyper
scan/log
scan/memprof
scan/params
scan/summ
LOG
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
src/bilby.egg-info
